root = true

[*.cs]
dotnet_diagnostic.IDE0130.severity = none

[*.{unity,prefab,asset,mat,anim,controller,meta,preset,physicMaterial,mixer,asmdef,asmref}]
trim_trailing_whitespace = false
insert_final_newline = false
